name: CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: .bun-version

      - name: Install dependencies (Dependabot)
        if: github.actor == 'dependabot[bot]' || startsWith(github.head_ref, 'dependabot/')
        run: bun install

      - name: Install dependencies (Frozen lockfile)
        if: github.actor != 'dependabot[bot]' && !startsWith(github.head_ref, 'dependabot/')
        run: bun install --frozen-lockfile

      - name: Lint
        run: bun run lint

      - name: Typecheck
        run: bun run typecheck

      - name: Test
        run: bun run test
