name: PR Change Summary

on:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: read
  pull-requests: write

jobs:
  summary:
    runs-on: ubuntu-latest
    steps:
      - name: Add/Update PR summary
        uses: ./.github/actions/pr-change-summary
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
